[submodule "lib/Common"]
	path = lib/Common
	url = https://github.com/Puyodead1/Common
[submodule "lib/Packet-System"]
	path = lib/Packet-System
	url = https://github.com/Puyodead1/Packet-System
[submodule "lib/Command-System"]
	path = lib/Command-System
	url = https://github.com/Puyodead1/Command-System
[submodule "lib/Event-System"]
	path = lib/Event-System
	url = https://github.com/Puyodead1/Event-System
